.offer-container {
  height: 100vh;
  background-color: var(--background-dark-color);
  color: var(--text-primary-color);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 28px;
  text-align: end;
  padding-top: 100px;
}

.offer-card {
  width: 100%;
  max-width: 45rem;
  height: auto;
  background-color: transparent;
  border: 1px solid #bfa76f;
  color: #f7f7f7;
  padding-bottom: 20px;
}

.first-offer {
  margin-left: 150px;
}

.title-offer {
  color: var(--accent-color);
  padding-bottom: 8px;
}

.img-offer {
  padding-bottom: 20px;
}

.container-offer-title {
  font-size: 60px;
  color: var(--accent-color);
  font-family: var(--font-titles);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 60px;
  padding-bottom: 50px;
  text-align: end;
  padding-right: 45px;
  padding-left: 15px;
  margin-left: 80px;
}
@media (max-width: 768px) {
  .offer-container {
    height: auto; /* Adjust to auto or use min-height instead */
    padding-bottom: 50px; /* Add some padding at the bottom */
  }

  .offer-card {
    width: 80%; /* You might want to make it take more width on small screens */
    margin: 20px auto;
    height: auto;
  }

  .first-offer .offer-card {
    margin: 20px auto;
  }

  .container-offer-title {
    font-size: 45px;
    padding: 0 20px 20px 10px;
    text-align: center;
    margin-left: 0;
  }
}
