@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-base: "Hind Madurai", sans-serif;
  --font-titles: "Montserrat", sans-serif;
  --font-alt: "Lora", serif;

  --background-dark-color: #212121;
  --text-primary-color: #f7f7f7;
  --accent-color: #bfa76f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
